body {
    margin: 0;
    background: #000000;
    font-family: Arial, sans-serif;
}

.container {
    width: 1100px;   /* DESKTOP WIDTH */
    margin: auto;
    padding: 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: arial;
}

.band-name {
    font-size: 22px;
    font-weight: bold;
    color: rgb(172, 172, 172);
    flex-wrap: 0;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #dcdcdc;
    border-radius: 50%;
    margin-left: 8px;
}

.navbar a {
    margin-right: 25px;
    text-decoration: none;
    color: lightslategray;
    font-size: 15px;
}

/* BANNER */
.banner {
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner img {
    width: 100%;
    height: auto;
    display: block; /* removes small gaps */
    margin: 10px 0;
}


/* ABOUT SECTION */
.about {
    margin-top: 40px;
    color: azure;
}

.intro-container {
    flex: 1;
    text-align: center;
    background-color: rgb(25, 28, 72);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    max-height: 350px;
    
}

.intro-title {
    font-family: Arial, sans-serif; /* change to your chosen font */
    font-size: 28px;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.intro-content {
    font-family: Arial, sans-serif; /* change to your chosen font */
    font-size: 24px;
    gap: 10px;
    color: white;
    max-height: 200px; /* sets a maximum height for the scrollable area */
    overflow-y: auto;  /* adds vertical scrollbar if content exceeds max height */
    text-align: left;
    margin-top: -10px;
}

/* GRID LAYOUT EXACT LIKE YOUR IMAGE */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 column desktop layout */
    grid-template-rows: auto auto auto;
    gap: 40px 60px;
}

/* Left image box */
.left-img {
    width: 220px;
    height: 220px;
    background: #d9d9d9;
}

/* Right text lines */
.right-lines .line {
    width: 90%;
    height: 3px;
    background: #000;
    margin: 10px 0;
}

/* Long paragraph lines */
.long-lines {
    grid-column: 1 / 2;
}

.long-lines .line {
    width: 80%;
    height: 3px;
    background: black;
    margin: 10px 0;
}

/* Right bottom image */
.right-img {
    width: 220px;
    height: 220px;
    background: #d9d9d9;
    justify-self: end;
    position: relative;
    left: 500px;
}

/* TOUR SECTION */
.tour-section {
    width: 95%;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

.tour-section h2 {
    font-size: 22px;
    margin-bottom: 25px;
}