body {
    margin: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: auto;
    margin: auto;
    padding: 20px;
    display:flex; 
    align-items: center;
    justify-content: space-around;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: arial;
    color: rgb(0, 0, 0);
}

.band-name {
    font-size: 40px;     /* make text bigger */
    font-weight: 700;    /* bold */
    color: rgb(0, 0, 0);
    padding:20px;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;  /* center horizontally */
    gap: 30px;                /* space between icons */
    margin-top: 20px;
    width: auto;
    height: auto;
    margin: 0 8px;
    padding-right: 20px;
}

.social-icons i {
    font-size: 30px;      /* size of icons */
    color: rgb(0, 0, 0);         /* icon color */
    transition: 0.3s;
}

.social-icons a:hover i {
    opacity: 0.6;         /* hover effect */
}

.navbar {
    flex-wrap: 0;
    padding: 10px;
    background-color: #c7c7c7;
}

.navbar a {
    margin-right: 25px;
    text-decoration: none;
    color: rgb(48, 51, 54);
}

/* Large banner */
.ticket-banner {
    width: 100%;
    margin: 30px 0;
}

.ticket-banner img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.event {
    margin-top: 20px;
    font-size: 18px;
}

.event-details {
    display: inline;
    align-items: center;
    justify-content: center;
}

.inlineObject{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    padding-left: 10%;
}

.banner img{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* INFO SECTION */

.info-section {
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 1.3; /* collapse text closer together */
    color: rgb(79, 79, 79);
    margin-top: 30px;
    padding-left: 10%;
    max-width: 600px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 130px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-top: 15px;
  color: white;
  background-color: #808080;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}